<div class="main-container" id="app">

  <div id="sort_buttons">
    <button type="button" class="btn btn-primary" v-on:click="setSortAttribute('original_title')">Sort by Title</button>
    <button type="button" class="btn btn-primary" v-on:click="setSortAttribute('release_date')">Sort by Release Date</button>
    <button type="button" class="btn btn-primary" v-on:click="prevPage()">Previous Page</button>
    <button type="button" class="btn btn-primary" v-on:click="nextPage()">Next Page</button>
    <b>Page: {{ pageNumber }}</b>
  </div>

  <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Filter by Genre:
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" v-on:click="filterGenre(28)">Action</a>
        <a class="dropdown-item" v-on:click="filterGenre(12)">Adventure</a>
        <a class="dropdown-item" v-on:click="filterGenre(16)">Animation</a>
        <a class="dropdown-item" v-on:click="filterGenre(35)">Comedy</a>
        <a class="dropdown-item" v-on:click="filterGenre(80)">Crime</a>
        <a class="dropdown-item" v-on:click="filterGenre(99)">Documentary</a>
        <a class="dropdown-item" v-on:click="filterGenre(18)">Drama</a>
        <a class="dropdown-item" v-on:click="filterGenre(10751)">Family</a>
        <a class="dropdown-item" v-on:click="filterGenre(14)">Fantasy</a>
        <a class="dropdown-item" v-on:click="filterGenre(36)">History</a>
        <a class="dropdown-item" v-on:click="filterGenre(27)">Horror</a>
        <a class="dropdown-item" v-on:click="filterGenre(10402)">Music</a>
        <a class="dropdown-item" v-on:click="filterGenre(9648)">Mystery</a>
        <a class="dropdown-item" v-on:click="filterGenre(10749)">Romance</a>
        <a class="dropdown-item" v-on:click="filterGenre(878)">Science Fiction</a>
        <a class="dropdown-item" v-on:click="filterGenre(10770)">TV Movie</a>
        <a class="dropdown-item" v-on:click="filterGenre(53)">Thriller</a>
        <a class="dropdown-item" v-on:click="filterGenre(10752)">War</a>
        <a class="dropdown-item" v-on:click="filterGenre(37)">Western</a>
      </div>
  </div>

  <div v-for="movie in modifiedMovies">
    <div class="col-xs-12 col-md-6 col-lg-6">
      <div class="jumbotron">
        <div class="center_everything">
          <div class="title-container"><h2 class="movie-title">{{ movie.title }}</h2></div>
          <img :src="'https://image.tmdb.org/t/p/w1280/' + movie.poster_path" />
          <h5>Release Date: {{ movie.release_date }}</h5>
          <div class="panel panel-default">
            <div class="panel-heading">
              <p class="panel-title"><b>Overview</b></p>
            </div>
            <div class="panel-body">
              {{ movie.overview }}
            </div>
          </div>
          <!-- use what i used for movie poster path here to change where the button navigates -->
          <a class="btn btn-primary btn-md" :href="'/new?movie_id=' + movie.id + '&movie_name=' + movie.original_title" role="button">ReVue movie</a>
          <a class="btn btn-primary btn-md" :href="'/revues/' + movie.id" role="button">ReVues for this movie</a>
        </div>
      </div> <!-- jtron -->
    </div> <!-- col -->
  </div> <!-- loop -->

</div> <!-- container -->
