<div class="container" id="app">

  <div id="sort_buttons">
    <button type="button" class="btn btn-primary" v-on:click="setSortAttribute('title')">Sort by Title</button>
    <button type="button" class="btn btn-primary" v-on:click="setSortAttribute('release_date')">Sort by Release Date</button>
    <% @genres.each do |genre| %>
      <div><%= genre["name"] %></div>
    <% end %>
  </div>

  <div v-for="movie in modifiedMovies">
    <div class="col-xs-12 col-md-6 col-lg-6">
      <div class="jumbotron">
        <div class="center_everything">
          <h2>{{ movie.title }}</h2>
          <img :src="'https://image.tmdb.org/t/p/w1280/' + movie.poster_path" />
          <h5>Release Date: {{ movie.release_date }}</h5>
          <div class="panel panel-default">
            <div class="panel-heading">
              <p class="panel-title"><b>Overview</b></p>
            </div>
            <div class="panel-body">
              {{ movie.overview }}
            </div>
          </div>
          <!-- use what i used for movie poster path here to change where the button navigates -->
          <a class="btn btn-primary btn-md" :href="'/new?movie_id=' + movie.id + '&movie_name=' + movie.original_title" role="button">ReVue movie</a>
          <a class="btn btn-primary btn-md" :href="'/revues/' + movie.id" role="button">ReVues for this movie</a>
        </div>
      </div> <!-- jtron -->
    </div> <!-- col -->
  </div> <!-- loop -->

</div> <!-- container -->
